<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Create issue page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" type="text/css"/>
    <!--Top navbar code-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <a class="btn btn-default navbar-left  navbar-btn " th:href="@{/createissue}">Report issue</a>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign in</a></li>
                    <li class="active,logout" sec:authorize="hasAnyRole('ROLE_USER,ROLE_ADMIN')">
                        <a th:href="@{/j_spring_security_logout}">Welcome <span sec:authentication="name"></span>, <font
                                color="red"> logout? </font> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</head>
<body>
<h1>New issue</h1>

<form action="#" th:action="@{/createissue}" th:object="${issue}" method="post">
    <p><input type="text" class="form-control" th:field="*{issueName}" placeholder="Input issue name"
              data-validation="length" data-validation-length="10-200" required="true"/></p><br/>

    <h2> Describe the issue</h2>

    <p><textarea id="area" class="form-control" rows="8" th:field="*{initialComment}"
                 placeholder="Input your description of the issue" data-validation="length"
                 data-validation-length="10-200" required="true"></textarea></p><br/>

    <p><input type="submit" value="Submit" class="btn"/> <input type="reset" value="Reset" class="btn"/></p>
</form>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>
</body>
</html>