<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" type="text/css"/>
    <!--Top navbar code-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <a class="btn btn-default navbar-left  navbar-btn " th:href="@{/createissue}">Report issue</a>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign in</a></li>
                    <li class="active,logout" sec:authorize="hasAnyRole('ROLE_USER,ROLE_ADMIN')">
                        <a th:href="@{/j_spring_security_logout}">Welcome <span sec:authentication="name"></span>, <font
                                color="red"> logout? </font> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <title>Web Issue Tracker</title>
</head>
<body>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body">
        <h1>Hello</h1>

        <h2>You can see the list of all issues below:</h2>
    </div>

    <!-- Table -->
    <table class="table table-bordered">
        <th>Issue name</th>
        <th>Status</th>
        <th>Date</th>
        <tr th:each="issue:${IssuesList}">
            <td>
                <a th:href="@{'viewissue?id='+${issue.getIssueID()}}">
                    <div th:text="${issue.getIssueName()}"></div>
                </a>
            </td>
            <td th:if="${issue.isStatus()}" th:text="'Resolved'"></td>
            <td th:if="${!issue.isStatus()}" th:text="'Unresolved'"></td>
            <td th:text="${issue.simplifyDate()}"></td>
        </tr>
    </table>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>