<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/signin.css}" type="text/css"/>
    <title>Please, sign in</title>


</head>

<body>
<div class="container">

    <form class="form-signin" role="form" th:action="@{/j_spring_security_check}" method="post">
        <h1 class="form-signin-heading"> Sign in</h1>
        <h2 class="form-signin-heading error" th:if="${loginError}"  th:text="'Wrong user or password'"></h2>
        <input type="text" class="form-control"  id="j_username" name="j_username" placeholder="Username" required="true" autofocus="autofocus"/>
        <input type="password" class="form-control"  id="j_password" name="j_password" placeholder="Password" required="true"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>




<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
