<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/comments.css}" type="text/css"/>
    <title>Issue </title>

    <!--Top navbar code-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <a class="btn btn-default navbar-left  navbar-btn " th:href="@{/createissue}">Report issue</a>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign in</a></li>
                    <li class="active,logout" sec:authorize="hasAnyRole('ROLE_USER,ROLE_ADMIN')">
                        <a th:href="@{/j_spring_security_logout}">Welcome <span sec:authentication="name"></span>, <font
                                color="red"> logout? </font> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</head>
<body>
<h1 th:text="'Issue number '+ ${issueID}">You won't be able to see this</h1>

<div class="well">
    <p><b>Issue name: </b><span th:text="${issueName}"></span></p>

    <p><b>Date: </b><span th:text="${creationDate}"></span></p>

    <p><b>Author: </b><span th:text="${creator}"></span></p>

    <p th:if="${issueStatus}"><b>Status: </b> Resolved</p>

    <p th:if="${!issueStatus}"><b>Status: </b> Unresolved </p>

    <p><b>Initial comment: </b><span th:text="${issueComment}"></span></p>
</div>

<h2>Comments</h2><span sec:authorize="isAnonymous()"><font font-size="14"> You need to login to post comments </font></span>
<!--Comment box-->
<div class="detailBox">
    <div class="actionBox">
        <ul class="commentList">
            <li th:each="comment:${comments}">
                <div class="commentText">
                    <p class="" th:text="${comment.getComment()}">Hello this is a test comment.</p> <span
                        class="date sub-text" th:text="${'on '+ comment.simplifyDate()}"></span>
                    <span class="date sub-text" th:text="'by '+${comment.getCreator()}"> </span>
                </div>
            </li>
        </ul>
        <form action="#" th:action="@{'/viewissue?id='+${issueID}}" th:object="${comment}" method="post"
              sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" th:field="*{comment}"
                       required="true" data-validation="length" data-validation-length="10-200"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Add</button>
            </div>
            <!--Checkbox for changing status of issue(visible only to admins and when issue is unresolved)-->
            <input type="checkbox" class="ads_Checkbox" th:text="'Change status?'" value="true" name="checkBox"
                   th:field="*{status}" th:if="${!issueStatus}" sec:authorize="hasRole('ROLE_ADMIN')"/>

            <form></form>
        </form>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>
</body>
</html>